@model WebCamping.Models.User

@{
    ViewData["Title"] = "Create";
}

<div class="row my-5">
    <h1>User</h1>
    <hr />
    <div class="col-md-4 border border-2 rounded-2">
        <h2 class="text-center">Create Form</h2>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-2 col-6">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group my-2 col-4">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group my-2 col-6">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group my-2 col-6">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group my-2 col-3">
                <label asp-for="Gender" class="control-label">Gender</label>
                <select asp-for="Gender" class="form-select">
                    <option value="true">Male</option>
                    <option value="false">Female</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group my-2 col-8">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group my-2 col-10">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group my-2 col-10">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group d-flex align-items-center align-content-center text-center my-2">
                <a asp-action="Index" class="text-decoration-none mx-3">
                    <button type="button" class="back-button">
                        @* phải có type button không là nút back nó giống nút save *@
                        <i class="fa-solid fa-arrow-left text-white back-svgIcon"></i>
                    </button>
                </a>
                <input type="submit" value="Save" class="btn btn-success text-black bg-success-subtle rounded rounded-5" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
