@model WebCamping.Models.Place

@{
    ViewData["Title"] = "Create";
}
<div class="row my-5">
    <h1>Place</h1>
    <hr />
    <div class="col-md-4 border border-2 rounded-2">
        <h2 class="text-center">Create Form</h2>
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" type="file" accept="image/*"/>
                <div class="w-100 mt-2">
                    <img id="imgPreview" alt="Avatar" class="img-fluid" style="width: 10rem; height: 10rem;" />
                </div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group d-flex align-items-center align-content-center text-center my-2">
                <a asp-action="Index" class="text-decoration-none mx-3">
                    <button type="button" class="back-button">
                        @* phải có type button không là nút back nó giống nút save *@
                        <i class="fa-solid fa-arrow-left text-white back-svgIcon"></i>
                    </button>
                </a>
                <input type="submit" value="Save" class="btn btn-success text-black bg-success-subtle rounded rounded-5" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        window.onload = () => {
            document.getElementById("Image").onchange = (e) => {
                var preview = document.getElementById('imgPreview');
                var file = e.target.files[0];
                var reader = new FileReader();

                reader.onloadend = function () {
                    preview.src = reader.result;
                    preview.style.display = "block";
                }

                if (file) {
                    reader.readAsDataURL(file);
                } else {
                    preview.src = '';
                    preview.style.display = "none";
                }
            };
        }
    </script>
    }

