@model WebCamping.Models.Setting

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Create a new Setting</h4>
<hr />
<div class="row">
    <div class="col-md-4 border border-2 rounded-2">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            
            <div class="form-group my-2">
                <a asp-action="Index" class="text-decoration-none text-black">
                    <i class="fa-solid fa-arrow-left"></i> Back
                </a>
                <input type="submit" value="Create" class="btn btn-success text-black bg-success-subtle mx-3" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
