@model WebCamping.Models.Order

@{
    ViewData["Title"] = "Create";
}

<div class="row my-5">
    <h1>Order</h1>
    <hr />
    <div class="col-md-4 border border-2 rounded-2">
        <h2 class="text-center">Create Form</h2>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="USE_ID" class="control-label"></label>
                <input asp-for="USE_ID" class="form-control" />
                <span asp-validation-for="USE_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPrice" class="control-label"></label>
                <input asp-for="TotalPrice" class="form-control" />
                <span asp-validation-for="TotalPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <input asp-for="PaymentMethod" class="form-control" />
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group d-flex align-items-center align-content-center text-center my-2">
                <a asp-action="Index" class="text-decoration-none mx-3">
                    <button type="button" class="back-button">
                        @* phải có type button không là nút back nó giống nút save *@
                        <i class="fa-solid fa-arrow-left text-white back-svgIcon"></i>
                    </button>
                </a>
                <input type="submit" value="Save" class="btn btn-success text-black bg-success-subtle rounded rounded-5" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
