@model WebCamping.Models.Product

@{
    ViewData["Title"] = "Create";
}
<div class="row my-5">
    <h1>Category</h1>
    <hr />
    <div class="col-md-4 border border-2 rounded-2">
        <h2 class="text-center">Create Form</h2>
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CAT_ID" class="control-label"></label>
                <select asp-for="CAT_ID" class ="form-control" asp-items="ViewBag.CAT_ID"></select>
                <span asp-validation-for="CAT_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BRA_ID" class="control-label"></label>
                <select asp-for="BRA_ID" class ="form-control" asp-items="ViewBag.BRA_ID"></select>
                <span asp-validation-for="BRA_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avatar" class="control-label"></label>
                <input asp-for="Avatar" class="form-control" type="file" accept="image/*" />
                <div class="w-100 mt-2">
                    <img id="imgPreview" alt="Avatar" class="img-fluid" style="width: 10rem; height: 10rem;" />
                </div>
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPrice" class="control-label"></label>
                <input asp-for="DiscountPrice" class="form-control" />
                <span asp-validation-for="DiscountPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <select asp-for="Rate" class="form-select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" ></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Intro" class="control-label"></label>
                <input asp-for="Intro" class="form-control" />
                <span asp-validation-for="Intro" class="text-danger"></span>
            </div>
            <div class="form-group d-flex align-items-center align-content-center text-center my-2">
                <a asp-action="Index" class="text-decoration-none mx-3">
                    <button type="button" class="back-button">
                        <i class="fa-solid fa-arrow-left text-white back-svgIcon"></i>
                    </button>
                </a>
                <input type="submit" value="Save" class="btn btn-success text-black bg-success-subtle rounded rounded-5" />
            </div>
        </form>
    </div>
</div>
@section Header {
    @{
        <link href="~/admin/plugins/ckeditor5/ckeditor5.css" rel="stylesheet" />
    }
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "/admin/plugins/ckeditor5/ckeditor5.js",
                "ckeditor5/": "/admin/plugins/ckeditor5/"
            }
        }
    </script>
    <script type="module">
        import {
            ClassicEditor,
            Essentials,
            Paragraph,
            Bold,
            Italic,
            Font
        } from 'ckeditor5';

        ClassicEditor
            .create(document.querySelector('#Description'), {
                plugins: [Essentials, Paragraph, Bold, Italic, Font],
                toolbar: [
                    'undo', 'redo', '|', 'bold', 'italic', '|',
                    'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor'
                ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error(error);
            });
    </script>
    <!-- A friendly reminder to run on a server, remove this during the integration. -->
    <script>
        window.onload = function () {
            if (window.location.protocol === "file:") {
                alert("This sample requires an HTTP server. Please serve this file with a web server.");
            }
        };
    </script>
    <script>
        window.onload = () => {
            document.getElementById("Avatar").onchange = (e) => {
                var preview = document.getElementById('imgPreview');
                var file = e.target.files[0];
                var reader = new FileReader();

                reader.onloadend = function () {
                    preview.src = reader.result;
                    preview.style.display = "block";
                }

                if (file) {
                    reader.readAsDataURL(file);
                } else {
                    preview.src = '';
                    preview.style.display = "none";
                }
            };
        }
    </script>
}
